[submodule "third_party/Crow"]
	path = third_party/Crow
	url = https://github.com/CrowCpp/Crow
[submodule "third_party/json"]
	path = third_party/json
	url = https://github.com/nlohmann/json
[submodule "third_party/jwt-cpp"]
	path = third_party/jwt-cpp
	url = https://github.com/Thalhammer/jwt-cpp
